<div class="container-fluid">
  <button class="btn btn-danger" (click)="delete()">Delete</button>
  <button class="btn btn-primary" (click)="update()">Update Email</button>
</div>
<h1 *ngIf="updateErrFlag">Update Error</h1>